body {
  background-image: url('http://www.eatwisconsincheese.com/images/cheese/cheese-curds-h.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Roboto;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  background-color: white;
}

.say-hello {
  width: 30%;
}

.button {
  text-align: center;
  width: 45%;
  margin: auto;
  background-color: #33c66e;
  color: white;
  border-radius: 5px;
}

.left-nav {
  padding-right: 700px;
}

.login {
  padding-right: 20px;
}

.login a {
  padding: 5px;
  color: #33c66e;
}

.started {
  border: 1px solid #33c66e;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
}

.text {
  text-align: center;
  color: white;
}


footer {
  text-align: center;
  height: 100px;
  background-color: white;
}

a {
  text-decoration: none;
  color: black;
}
