body {
  font-family: 'Robot', sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
}

.nav-stuff {
  display: flex;
  justify-content:space-around;
  padding-right: 20px;
}

.nav-stuff a {
  text-decoration: none;
  padding: 10px;
  color: grey;
  font-size: 12px;
}

.logo {
  height: 50px;
  width: 75px;
}
